<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityBus"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZkLku2KcY7CT5D5sEfeCMsLAuXoNBvG8 " />
<!--            android:value="AIzaSyCwg-nvAUsS3DdHutCKSv7PkiKjB33ApFA" />-->
<!--        android:value="${MAPS_API_KEY}"-->
        <activity
            android:theme="@style/One"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SlashScreen"
            android:theme="@style/One"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".SelectStop"></activity>
        <activity android:name=".SearchBuses" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".SearchBusNumber" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".SearchBusStop" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".BusOnStop_Activity" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".BusAroundYou" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".SeeAllBuses" android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>