<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.CityBus"
        tools:targetApi="31">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCB7Xz7_9bZc5OCPDjzjOW7NbvVPMocYfs"></meta-data>
        <!-- sama111patil-->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyAZkLku2KcY7CT5D5sEfeCMsLAuXoNBvG8 " />-->
<!--            android:value="AIzaSyCwg-nvAUsS3DdHutCKSv7PkiKjB33ApFA" />-->
<!--        android:value="${MAPS_API_KEY}"-->
        <activity
            android:theme="@style/One"
            android:name=".MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".SlashScreen"
            android:theme="@style/One"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".SelectStop" android:label="Select Bus"></activity>
        <activity android:name=".RouteBusMap" android:parentActivityName=".SearchBusStop" android:label="Route Bus"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".SearchBusNumber" android:parentActivityName=".MainActivity" android:label="Search Bus Number"></activity>
        <activity android:name=".SearchBusStop" android:parentActivityName=".MainActivity" android:label="Search Bus Stop"></activity>
        <activity android:name=".BusOnStop_Activity" android:parentActivityName=".MainActivity" android:label="Bus On Stop"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".DirectionsAPICall" android:parentActivityName=".MainActivity" android:label="DirectionApi"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivitys.ShowNearestStopMap_Activity" android:parentActivityName=".MainActivity" android:label="Nearest Stop"></activity>
        <activity android:name=".ChangeNearBustStop" android:parentActivityName=".MainActivity" android:label="Change Bus Stop"></activity>
        <activity android:name=".BusAroundYouMap" android:parentActivityName=".MainActivity" android:label="Bus Around You"></activity>
        <activity android:name=".SeeAllBuses" android:parentActivityName=".MainActivity" android:label="All Bus Map"></activity>
        <activity android:name=".MapActivitys.SelectBusMapByNumber" android:parentActivityName=".SearchBusNumber" android:label="Bus Route"></activity>
    </application>

</manifest>